footer {
  background-color: $background-neutral;
  padding: 1rem 0;

  img {
    max-height: 45px;
    width: auto;
  }

  .footer-logo {
    display: block;

    & + .footer-logo {
      margin-left: 1rem;
    }
  }

  #mc_embed_signup {
    .mc-field-group {
      .wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @include media-breakpoint-down(md) {
          justify-content: center;
        }
      }

      input[type="submit"] {
        margin-top: 0;
      }
    }
  }
}
