footer {
  background-color: $background-neutral;
  padding: 1rem 0;

  .navbar-brand img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  #mc_embed_signup {
    .mc-field-group {
      .wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @include media-breakpoint-down(md) {
          justify-content: center;
        }
      }

      input[type="submit"] {
        margin-top: 0;
      }
    }
  }
}
