#mc_embed_signup {
  h2 {
    font-size: 1.25rem;
  }

  .mc-field-group {
    input[type="email"] {
      padding: 0.22rem 0.5rem;
    }

    input[type="submit"] {
      @extend .btn;

      border-radius: 0;
      display: block;
      margin-top: 0.5rem;
    }
  }
}
